@model Sektion1.Person




<h3>vill du verkligen radera den här personen?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Förnamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fornamn)
        </dd>

        <dt>
           Efternamn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.efternamn)
        </dd>

        <dt>
            Ålder
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alder)
        </dd>

        <dt>
            Telefonnummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            Utbildning
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utbildning)
        </dd>

        <dt>
           FamiljGrupp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familj.familjnamn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera Person" class="btn-danger" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>
